<div class="offcanvas offcanvas-start sidebar-nav bg-dark"
     tabindex="-1"
     id="sidebar">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav h4">

                <li class="mb-4 border-top"></li>
                <li class="my-2">
                    <a href="/Admin/Blogs/Blogs/" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-card-text"></i></span>
                        <span>Bloglar</span>
                    </a>
                </li>
                <li class="my-2">
                    <a href="/Admin/Categories/GetAll/" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-tag"></i></span>
                        <span>Kategoriler</span>
                    </a>
                </li>
                <li class="my-2">
                    <a href="/Admin/Messages/GetAll/" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-envelope"></i></span>
                        <span>Mesajlar</span>
                    </a>
                </li>
                <li class="my-2">
                    <a href="/Admin/Writers/GetAll/" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-pen"></i></span>
                        <span>Yazarlar</span>
                    </a>
                </li>
                <li class="my-2">
                    <a href="/Admin/Statistics/Information/" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-info-square"></i></span>
                        <span>İstatistikler</span>
                    </a>
                </li>

                @*<li>
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        CORE
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="my-4"><hr class="dropdown-divider bg-light" /></li>


                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                        Addons
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-graph-up"></i></span>
                        <span>Charts</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-table"></i></span>
                        <span>Tables</span>
                    </a>
                </li>*@
            </ul>
        </nav>
    </div>
</div>