@{ 
    Layout = null;
}

<div class="box">
    <h3 class="title">Hakkımda</h3>
    <div class="about">
        <img src="~/Images/me.png" alt="">
        <h3>Hüseyin Yazıcı</h3>
        <p>Yazılım alanında kendimi geliştirmeye çalışıyorum ve yeni öğrendiğim konuları sizlerle paylaşıyorum.</p>
        <div class="follow">
            <a target="_blank" href="https://github.com/huseyinyazicii" class="fab fa-github"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCnLnWcUN_zVt690O9mmGyzQ" class="fab fa-youtube"></a>
            <a target="_blank" href="https://www.instagram.com/huseyinyazc/" class="fab fa-instagram"></a>
            <a target="_blank" href="https://www.linkedin.com/in/h%C3%BCseyin-yaz%C4%B1c%C4%B1-14b803201/" class="fab fa-linkedin"></a>
        </div>
    </div>
</div>