<section class="footer">
    <div class="credit">
        <span>Hüseyin Yazıcı</span> tarafından oluşturuldu
        | tüm hakları saklıdır
        |
        <a target="_blank" href="https://github.com/huseyinyazicii" class="fab fa-github"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCnLnWcUN_zVt690O9mmGyzQ" class="fab fa-youtube"></a>
        <a target="_blank" href="https://www.instagram.com/huseyinyazc/" class="fab fa-instagram"></a>
        <a target="_blank" href="https://www.linkedin.com/in/h%C3%BCseyin-yaz%C4%B1c%C4%B1-14b803201/" class="fab fa-linkedin"></a>
    </div>
</section>