<header class="header">
    <a href="homepage.html" class="logo"><span>C</span>oding <span>U</span>niverse</a>

    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
        <a asp-controller="Blogs" asp-action="Blogs">Bloglarım</a>
        <a asp-controller="Contact" asp-action="Index">İletişim</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
    </div>
</header>