<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Coding Universe</title>

    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link href="~/AdminPanelBootstrap/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/AdminPanelBootstrap/css/style.css" rel="stylesheet" />

</head>
<body>

    <partial name="~/Areas/Admin/Views/Shared/LayoutPartials/Navbar.cshtml" />

    <partial name="~/Areas/Admin/Views/Shared/LayoutPartials/Sidebar.cshtml" />

    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    @RenderBody()

                </div>
            </div>
        </div>
    </main>

    <script src="~/Bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script src="~/Jquery/jquery.min.js"></script>
    <script src="~/Jquery/jquery.validate.min.js"></script>
    <script src="~/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/AdminPanelBootstrap/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminPanelBootstrap/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/AdminPanelBootstrap/js/script.js"></script>
    <script src="~/SweetAlert2/sweetalert2.all.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", false)
    <script src="~/ckeditor/ckeditor.js"></script>
    <script>CKEDITOR.replace('shorteditor');</script>
</body>
</html>